---
import "@unocss/reset/tailwind.css";
import getProps from "@res/js/getProps";
import Navbar from "@components/Navbar.astro";

const { title, class: className, ogpType, ogpDescription } = getProps(Astro.props);
const baseTitle = "the marsh zone";
const usableTitle = title ? `${title} - ${baseTitle}` : baseTitle;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- TODO: Can I use my Uno theme for this? -->
        <meta name="theme-color" content="#e22e88" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content={ogpType ?? "website"} />
        <meta property="og:title" content={usableTitle} />
        <meta property="og:description" content={ogpDescription ?? "hey there, i'm marsh!"} />
        <meta property="og:image" content="/slime.png">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{usableTitle}</title>
        <slot name="head" />
    </head>

    <body class=`bg-tertiary bg-[url(/background.jpg)] bg-no-repeat bg-cover h-full text-normal font-mono scrollbar scrollbar-track-color-transparent scrollbar-thumb-color-accent-alt scrollbar-w-2 ${className}`>
        <slot name="extras"/> 
        <div class="h-screen flex sm:(flex-row justify-center) lt-sm:(flex-col-reverse justify-end p-2) items-center gap-1">
            <main class="bg-primary bg-opacity-75 backdrop-filter backdrop-blur border-2 border-accent-secondary overflow-y-auto p-2 sm:(w-[800px] h-[600px]) lt-sm:(w-full)">
                <slot />
            </main>
            <Navbar />
        </div>
    </body>
</html>
