---
import "@/styles/base.scss";
import extractProps from "@/utils/extractProps";

export interface Props {
    title: string;
    description?: string;
}

const { title, description } = extractProps<Props>(Astro.props);
const fullTitle = `${title} - ${Astro.site?.hostname}`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta property="og:type" content="website">
        <meta property="og:image" content="/images/pinky.png">
        <meta property="og:description" content={description ?? "hey there! i'm marsh."}>
        <meta property="og:title" content={fullTitle}>
        <title>{fullTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
